<!DOCTYPE html>
<html>
<head>
    <title>AJAX</title>
    <script src="../public/javascripts/jquery.js"></script>
    
    </head>
<body>
    <h1>AJAX</h1>
    <button id="get-button">READ/GET Products</button>
    <form id="create-form">
        <input type="text" id="create-input">
        <button>Create/POST</button>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="../public/javascripts/javacript.js"></script>
     
</body>

</html>
    